.galeria-item{
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.galeria-item img{
    transition: .2s;
    border: solid 2px gray;
    width: 33%;
    height: 250px;
}

.galeria-item img:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
}